<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <!--{#{% for style in style_list %}#}-->
    <script type="text/javascript" src="/script/jquery.js"
        ></script>
    <script type="text/javascript" src="/script/afarrell.js"></script>
            {#{% endfor %}#}
    <link rel="stylesheet" href="/style/main.css" />
    </head>
    <body>
        {% block header %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
    </body>
</html>
